{# empty Twig template #}
{% extends '::base.html.twig' %}

{% block cuerpo %}
    
    
 <div id="menuSuperior">
      {% block menuSuperior %}
          
      {% endblock %}
  </div>
        
 <div id="central">
      {% block central %}
     central
      {% endblock %}
  </div>


{% endblock %}
     